/** {border: 1px solid red;}*/

@font-face {
  /* need to add padding-top since font sits slightly above element */
  /* 12px for p; 24px for h1 */
  font-family: 'Whitney';
  src: url(../assets/whitney.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:center;
}

.content-line {
  background-color: white;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}

body {
  /*font-family: 'Whitney', Verdana, Tahoma;*/
  font-family: 'Century Gothic', sans-serif;;
}

.home-nav {
  overflow: hidden;
}

.home-nav li {
  display: inline-block;
  color: black;
  background-color: white;
  padding: 6px 6px 6px 6px;
}

.home-nav li:hover {
  color: white;
  background-color: black;
  /*text-decoration: underline;*/
}


.section {
  padding-top: 80px;
  height: 100vh;
  /*width: 100%;*/
}

.section-title-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: black;
  background-color: white;
  display: inline-block;
  padding: 12px 12px 12px 12px;
}

#home {
  background: url(../img/chandelier.jpg) center no-repeat;
  background-size: cover;
}

#about {
  background: url(../img/riostairs.jpg) center no-repeat;
  background-size: cover;
  background-position: -400px 0px;
}

#interests {
  background: url(../img/books.jpg) center no-repeat;
  background-size: cover;
}

#experience {
  background: url(../img/chiselfie_edit_1.jpg) center no-repeat;
  /*background-size: cover;*/
  background-position: 0px -680px;
}

#contact {
  background: url(../img/parisart.jpg) center no-repeat;
  background-size: cover;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #home {
    background: url(../img/chandelier.jpg) center no-repeat;
    background-size: cover;
  }

  #about {
    background: url(../img/riostairs.jpg) center no-repeat;
    background-size: cover;
  }

  #interests {
    background: url(../img/books.jpg) center no-repeat;
    background-size: cover;
  }

  #experience {
    background: url(../img/chiselfie_edit.jpg) center no-repeat;
    /*background-size: cover;*/
    background-position: 0px -680px;
  }

  #contact {
    background: url(../img/parisart.jpg) center no-repeat;
    background-size: cover;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
