/** {border: 1px solid red;}*/

@font-face {
  /* need to add padding-top since font sits slightly above element */
  /* 12px for p; 24px for h1 */
  font-family: "Whitney";
  src: url(../assets/whitney.ttf) format("truetype");
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:center;
}

body {
  font-family: "Whitney", Verdana, Tahoma;
}

h1, p {

}

.home-nav {
  overflow: hidden;
}

.home-nav li {
  display: inline-block;
  color: black;
  background-color: white;
  padding: 12px 6px 0px 6px;
}

.home-nav li:hover {
  color: white;
  background-color: black;
  /*text-decoration: underline;*/
}


.section {
  padding-top: 80px;
  height: 100vh;
  /*width: 100%;*/
}

.section-title-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: black;
  background-color: white;
  display: inline-block;
  padding: 24px 12px 0px 12px;
  /*padding-top: 24px;*/
  /*padding-bottom: -24px;*/
}

#home {
  background: url(../img/chandelier.jpg) center no-repeat;
  background-size: cover;
}

#about {
  background: url(../img/riostairs.jpg) center no-repeat;
  background-size: cover;
}

#interests {
  background: url(../img/books.jpg) center no-repeat;
  background-size: cover;
}

#work {
  background: url(../img/chiselfie_edit.jpg) center no-repeat;
  background-size: cover;
}

#contact {
  background: url(../img/parisart.jpg) center no-repeat;
  background-size: cover;
}
